.signup-form {
  width: 82%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
.form-group {
  position: relative;
  margin-bottom: 15px;
}
 
.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}
 
input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 2px 5px 9px 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

 
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}
 
label {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 16px;
  color: #aaa;
  transition: all 0.2s ease-out;
}
 
.focused label,
input:not(:placeholder-shown) + label {
  top: -10px;
  left: 40px;
  font-size: 12px;
  color: #66afe9;
}

 
.submit-button {
  width: 88%;
  padding: 7px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
 
.submit-button:hover {
  background-color: #0056b3;
}
 .form-group{
  display: flex;
  flex-direction: row;

 }
.form-group input[type="checkbox"] {
  margin-right: 10px;
  margin-bottom: 7px;
}
 
.form-group label[for="terms"] {
  margin-top: 26px;
  font-size: 12px;
  color: #333;
}
 
.form-group + .submit-button {
  margin-top: -8px;
}
.label-hidden
 {
   display: none;
 }